
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login & Register</title>
      <script src="lib/jquery-3.7.1.min.js"></script>
       <script src="lib/vue.js"></script>
        <script src="element-ui/lib/index.js"></script>
        <link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
</head>

<body>
<el-tag>QG资金管理系统</el-tag>
<div id="app">
    <el-tabs v-model="activeTab" type="card">
        <el-tab-pane label="登录" name="login">

            <el-form ref="loginForm" :model="loginForm" label-width="80px" @submit.prevent="handleLogin">
                <el-form-item label="用户名">
                    <el-input style="width: 200px;" v-model="loginForm.username" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input  style="width: 200px;" type="password" v-model="loginForm.password" placeholder="请输入密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="handleLogin">登录</el-button>
                    <el-button type="primary" @click="handleTouristLogin">游客登录</el-button>
                </el-form-item>

            </el-form>
        </el-tab-pane>
        <el-tab-pane label="注册" name="register">
            <el-form ref="registerForm" :model="registerForm" label-width="80px" @submit.prevent="handleRegister">
                <el-form-item label="用户名">
                    <el-input style="width: 200px;" v-model="registerForm.username" placeholder="请输入用户名"></el-input>
                </el-form-item>
                <el-form-item label="密码">
                    <el-input style="width: 200px;" type="password"  v-model="registerForm.password" placeholder="请输入密码"></el-input>
                </el-form-item>
                <el-form-item label="昵称">
                    <el-input style="width: 200px;" type="nickname" v-model="registerForm.nickname" placeholder="请输入昵称"></el-input>
                </el-form-item>
                <el-form-item label="地址">
                    <el-input style="width: 200px;" type="location" v-model="registerForm.location" placeholder="请输入地址"></el-input>
                </el-form-item>
                <el-form-item label="手机号码">
                    <el-input style="width: 200px;" type="password" v-model="registerForm.PhoneNumber" placeholder="请输入手机号码"></el-input>
                </el-form-item>
                <el-form-item label="确认密码">
                    <el-input   style="width: 200px;" type="password" v-model="registerForm.confirmPassword" placeholder="请再次输入密码"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button  @click="handleRegister">注册</el-button>
                </el-form-item>
            </el-form>
        </el-tab-pane>
    </el-tabs>
</div>

<script>
    new Vue({
        el: "#app",
        data() {
            return {
                userId:"",
                activeTab: "login",
                loginForm: {
                    username: "",
                    password: ""
                },
                registerForm: {
                    username: "",
                    password: "",
                    nickname:"",
                    location:"",
                    PhoneNumber:"",
                    confirmPassword: ""
                }
            };
        },
        methods: {
            handleLogin(event) {
                var _this=this;
                console.log("登录表单提交:", this.loginForm);
                $.ajax({
                    url: 'http://localhost:8080/jwt_test/user/ForLogin',
                    method: 'POST',
                    data: this.loginForm,
                    dataType: 'json',
                    success: (response) => {
                        var jwtToken = response.token;
                        localStorage.setItem('jwtToken', jwtToken); // 存储JWT到localStorage
                        // 登录成功后的操作，如跳转页面等
                        _this.checkToken();
                        if(_this.userId==='admin'){

                            window.location.href = "adminpage.html";
                            return;
                        }
                        window.location.href = "main page2.html";
                    },
                    error: (xhr, status, error) => {
                        alert("登录失败");
                    }
                })
            },
            handleTouristLogin() {

                $.ajax({
                    url: 'http://localhost:8080/jwt_test/user/ForLogin',
                    method: 'POST',
                    data: {username:"游客",
                           password:"null"},
                    dataType: 'json',
                    success: (response) => {
                        var jwtToken = response.token;
                        localStorage.setItem('jwtToken', jwtToken); // 存储JWT到localStorage
                        // 登录成功后的操作，如跳转页面等

                        window.location.href = "main page2.html";
                    },
                    error: (xhr, status, error) => {
                        alert("登录失败");
                    }
                })
            },
            handleRegister() {
                console.log("注册表单提交:", this.registerForm);
                $.ajax({
                    url: 'http://localhost:8080/jwt_test/user/ForRegister',
                    method: 'POST',
                    data: this.registerForm,
                    datatype:'text',
                    success: (response) => {
                        alert(response)
                    },
                    error: (xhr, status, error) => {
                        console.error('Login failed:', error);
                        // 处理登录失败逻辑
                    }
                })
            },
            checkToken(){// 当页面加载完成后
                // 在Vue实例创建时尝试从localStorage获取token
                this.token = localStorage.getItem('jwtToken');
                if (this.token) {
                    try {
                        // 分割JWT字符串为三部分: header.payload.signature
                        const [header, payload, signature] = this.token.split('.');
                        // Base64解码负载部分
                        const decodedPayload = window.atob(payload);
                        // 解析负载部分的JSON字符串
                        const tokenData = JSON.parse(decodedPayload);
                        // 从token数据中提取username并赋值给userId
                        if (tokenData && tokenData.username) {
                            console.log("用户名：", tokenData.username);
                            this.userId = tokenData.username;



                        }
                    } catch (error) {
                        console.error('解析token时出错:', error);
                    }
                } else {
                    console.log('localStorage中没有找到token');
                }

            }
        }
    });
</script>

</body>
</html>